/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation-icons
 *= require flaticon
 */

@font-face {
    font-family: Apex;
    src: url("font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.top-bar {
    padding-top: 15px;
    padding-bottom: 65px;
    background-color: #17D8C2;
}

.logo {
    left: 5px;
    top: -4px;
    position: absolute;
    max-width: 10rem;
    margin-top: -18px;
    margin-left: 9px;}

.white {
    color: white;
    font-size: 80px;
}

.apex {
    font-family: Apex;
    color: white;
}

div.navigation {
    padding-bottom: 40px;
}

.center.row {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 500px;
}

.signup-panel {
    padding: 15px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
    margin-left: 35%;
}

section.active {
    padding-top: 75px !important;
}

p.title {
    border-bottom: 1px solid #cccccc !important;
}

.content{
    height: 450px;
}