/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation-icons
 *= require flaticon
 */

@font-face {
    font-family: Apex;
    src: url("font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

nav.menu {
    margin-bottom: 40px;
}

h1.name.apex {
    font-size: 36px;
}

.logo {
    left: 5px;
    top: -4px;
    position: absolute;
    max-width: 10rem;
    margin-top: -18px;
    margin-left: 9px;}

.white {
    color: white;
    font-size: 80px;
}

.apex {
    font-family: Apex;
    color: white;
}

div.navigation {
    padding-bottom: 40px;
}

.center.row {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 500px;
}

.signup-panel {
    padding: 15px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
    margin-left: 35%;
}

section.active {
    padding-top: 75px !important;
}

p.title {
    border-bottom: 1px solid #cccccc !important;
}

.content{
    height: 450px;
}

.row {
    max-width: 100%; }

.menu {
    background-color: #292c2f;
    padding: 1.5rem 3rem;
    height: auto; }
.menu .inline-list {
    text-align: center; }
.menu .inline-list li {
    float: none;
    display: inline-block; }
.menu .inline-list a {
    color: #fff;
    padding-bottom: 0.5rem; }
.menu .inline-list a:hover {
    color: #87d37c;
    transition: all .3s ease-in-out; }
.menu .inline-list .active a {
    color: #87d37c; }
.menu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
.menu .account a, .menu .account i {
    color: #fff; }
@media only screen and (min-width: 40.063em) {
    .menu {
        height: 5rem; }
    .menu .inline-list {
        float: left;
        margin: 0 0 0 1.5rem; }
    .menu a:hover {
        border-bottom: 2px solid #87d37c; } }
.menu .account-action {
    float: right;
    margin: -.75rem 0 0 0; }
.menu .account-action li {
    margin-left: .2rem; }
.menu .account-action a {
    padding: 0.75rem 1rem; }
.menu .account-action a.signup {
    font-weight: bold;
    background-color: #3d4146;
    border-radius: 3px; }

.name {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    color: #fff; }
.name i {
    color: #87d37c;
    margin-right: 0.5rem; }
@media only screen and (min-width: 40.063em) {
    .name {
        float: left; } }
